name: Build

on:
  push:
    branches: [ "master" ]
    paths-ignore: [ '**.md' ]
  pull_request:
    branches: [ "master" ]
    paths-ignore: [ '**.md' ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 22
      uses: actions/setup-java@v5
      with:
        java-version: '22'
        distribution: 'zulu'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3.5.0
      with:
        arguments: build
